

 .head-text1{
    font-size: 4rem;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 1rem;
 }

 .head-text1 span{
   color:var(--secondary-color);
 }
 .li{
    font-size: 1.2rem;
    text-align: justify;
    line-height: 2rem;
    
 }
@media screen and (max-width: 600px) {
   .head-text1{
      font-size: 2rem;
      text-align: center;
   }
}